<div>
    <h2>
        <span>Parking Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-parking-event" [routerLink]="['/', { outlets: { popup: ['parking-event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Parking Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parkingEvents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start</span></th>
            <th><span>Finish</span></th>
            <th><span>Parking Zone</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parkingEvent of parkingEvents ;trackBy: trackId">
                <td><a [routerLink]="['../parking-event', parkingEvent.id ]">{{parkingEvent.id}}</a></td>
                <td>{{parkingEvent.start | date:'medium'}}</td>
                <td>{{parkingEvent.finish | date:'medium'}}</td>
                <td>
                    <div *ngIf="parkingEvent.parkingZoneId">
                        <a [routerLink]="['../parking-zone', parkingEvent.parkingZoneId  ]" >{{parkingEvent.parkingZoneName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parking-event', parkingEvent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parking-event/'+ parkingEvent.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parking-event/'+ parkingEvent.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
