
<div *ngIf="parkingEvent">
    <h2><span>Parking Event</span> {{parkingEvent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Start</span></dt>
        <dd>
            <span>{{parkingEvent.start | date:'medium'}}</span>
        </dd>
        <dt><span>Finish</span></dt>
        <dd>
            <span>{{parkingEvent.finish | date:'medium'}}</span>
        </dd>
        <dt><span>Parking Zone</span></dt>
        <dd>
            <div *ngIf="parkingEvent.parkingZoneId">
                <a [routerLink]="['/parking-zone', parkingEvent.parkingZoneId]">{{parkingEvent.parkingZoneName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parking-event/'+ parkingEvent.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
