<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myParkingEventLabel">Create or edit a Parking Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parkingEvent.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parkingEvent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_start">Start</label>
            <div class="d-flex">
                <input id="field_start" type="datetime-local" class="form-control" name="start" [(ngModel)]="parkingEvent.start"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.start?.dirty && editForm.controls.start?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.start?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.start?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_finish">Finish</label>
            <div class="d-flex">
                <input id="field_finish" type="datetime-local" class="form-control" name="finish" [(ngModel)]="parkingEvent.finish"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_parkingZone">Parking Zone</label>
            <select class="form-control" id="field_parkingZone" name="parkingZone" [(ngModel)]="parkingEvent.parkingZoneId"  required>
                <option *ngIf="!editForm.value.parkingZone" [ngValue]="null" selected></option>
                <option [ngValue]="parkingZoneOption.id" *ngFor="let parkingZoneOption of parkingzones; trackBy: trackParkingZoneById">{{parkingZoneOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.parkingZone?.dirty && editForm.controls.parkingZone?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.parkingZone?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
