<div>
    <h2>
        <span>Parking Zones</span>
        <button class="btn btn-primary float-right jh-create-entity create-parking-zone" [routerLink]="['/', { outlets: { popup: ['parking-zone-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Parking Zone
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parkingZones">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Boundary Polygon</span></th>
            <th><span>Parking Fee</span></th>
            <th><span>Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parkingZone of parkingZones ;trackBy: trackId">
                <td><a [routerLink]="['../parking-zone', parkingZone.id ]">{{parkingZone.id}}</a></td>
                <td>{{parkingZone.boundaryPolygon}}</td>
                <td>{{parkingZone.parkingFee}}</td>
                <td>{{parkingZone.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parking-zone', parkingZone.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parking-zone/'+ parkingZone.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parking-zone/'+ parkingZone.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
