
<div *ngIf="parkingZone">
    <h2><span>Parking Zone</span> {{parkingZone.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Boundary Polygon</span></dt>
        <dd>
            <span>{{parkingZone.boundaryPolygon}}</span>
        </dd>
        <dt><span>Parking Fee</span></dt>
        <dd>
            <span>{{parkingZone.parkingFee}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{parkingZone.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'parking-zone/'+ parkingZone.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
