<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myParkingZoneLabel">Create or edit a Parking Zone</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!parkingZone.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="parkingZone.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_boundaryPolygon">Boundary Polygon</label>
            <input type="text" class="form-control" name="boundaryPolygon" id="field_boundaryPolygon"
                [(ngModel)]="parkingZone.boundaryPolygon" required minlength="20" />
            <div [hidden]="!(editForm.controls.boundaryPolygon?.dirty && editForm.controls.boundaryPolygon?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.boundaryPolygon?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.boundaryPolygon?.errors?.minlength">
                   This field is required to be at least 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_parkingFee">Parking Fee</label>
            <input type="number" class="form-control" name="parkingFee" id="field_parkingFee"
                [(ngModel)]="parkingZone.parkingFee" required min="0" />
            <div [hidden]="!(editForm.controls.parkingFee?.dirty && editForm.controls.parkingFee?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.parkingFee?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.parkingFee?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.parkingFee?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="parkingZone.name" required minlength="2" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.minlength">
                   This field is required to be at least 2 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
